html {
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2019-12/30/19/enhanced/bf8839fe5c9f/enhanced-2834-1577732445-8.jpg?output-format=auto&output-quality=auto);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    height: 150px;
}

a {
    text-decoration: none;
    color:black;
    font-family: 'Lemonada', cursive;
    font-size: 1.25em; 
    top: 0; 
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: block;
    text-align: center
   
}
@media only screen and (max-width: 500px) {
a {
    text-decoration: none;
    color:black;
    font-family: 'Lemonada', cursive;
    font-size: 1em;  
    top: 0; 
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}
}


a:hover {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Lemonada', cursive;
    font-size: 1.em; 
    top: 0; 
    margin: 15px;
    padding: 10px;
    background-color: rgba(104, 104, 104, 0.7);
    border-radius: 25px;
}



ul {
    list-style-type: none;
    position: relative;
    padding: px;
    float:right;
}

#question { 
    font-family: 'Lemonada', cursive;
    font-size: 1em;
    font-weight: 800;
    display: block;
}

#score { 
    font-family: 'Lemonada', cursive;
    font-size: 1em;
    font-weight: 800;
    display: block;

}

.startBox {
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Bangers', cursive;
    color: red;
    border-radius: 25px;
}

@media only screen and (min-width: 500px) {
    .startBox {
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: 2.75em;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Bangers', cursive;
    color: red;
    border-radius: 25px;
    }
}

.startBox:hover {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: rgba(104, 104, 104, 0.7);
    font-family: 'Bangers', cursive;
    color: red
    
}


.startButton, .submitAnswer, .nextButton, .restartQuiz {
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    margin: 25px;
    font-family: 'Lemonada', cursive;
    border-radius: 25px
}
@media only screen and (max-width: 500px) {
.startButton, .submitAnswer, .nextButton, .restartQuiz {
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin: 20px;
    font-family: 'Lemonada', cursive;
    border-radius: 25px
}
}



.startButton:hover, .submitAnswer:hover, .nextButton:hover, .restartQuiz:hover {
    background-color: rgb(126, 126, 126);
    color: white;
    cursor: pointer;
    font-family: 'Lemonada', cursive;
    font-size: 19px;
    border-radius: 25px
}

main {
    text-align: center;
}
.questionBox {
    box-sizing: border-box;
    display:none;
    text-align: center;
    border: 1px solid black;
    width: 70%;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: auto;
    font-family: 'Lemonada', cursive;
    border-radius: 25px
}

@media only screen and (max-width: 500px) {
    .questionBox {
        box-sizing: border-box;
        display: none;
        border: 1px solid black;
        width: 90%;
        font-size: 1em;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        margin: auto;
        margin-bottom: 40px;
        font-family: 'Lemonada', cursive;
    }
}

label {
    border: 1px solid black;
    display: block;
    margin-bottom: 25px;
    border-radius: 25px;
}

label:hover {
    background-color: rgb(214, 214, 214);
    color: white;
    cursor: pointer;
}

.correct, .wrong {
    padding: 20px 0;
    max-width: 100%;
    height: auto;
}

legend {
    margin-bottom: 20px;
}

fieldset {
    border: 0;
}


